<%- include('_header.ejs') -%>

<h2>Latest Posts</h2>
<% const count = 5 %>

<% const latest = Object.entries(posts).sort((a, b) => b[1].date - a[1].date).slice(0, count) %>

<% for (const [key, post] of latest) { %>
  <div class="post-link">
    <a class="title" href="<%=`/posts/${key}.html`%>"><%= post.title %></a>

    <% if (post.description) { %>
      <p class="subtitle"><%= post.description %></p>
    <% } %>
    
    <% if (post.date) { %>
      <em class="date"><%= new Date(post.date).toLocaleDateString() %></em>
    <% } %>
  </div>
<% } %>

<%- include('_footer.ejs') -%>