<%- include('../_header.ejs') -%>
      <section class="content">
        <h1><%- title %></h1>
        <h3><%- description %></h3>
        <% if (hero) { %>
          <div class="hero">
            <img src="/images/<%= hero %>" alt="<%= title %>">
          </div>
        <% } %>
        <%- body %> 
      </section>
<%- include('../_footer.ejs') -%>